.my-page
  .my-page__inner
    .my-page__inner--left
      = link_to
      .my-mypage
        マイページ
        .icon-arrow-right
      .my-announce
        = link_to "お知らせ"
      .my-to_do
        = link_to "やることリスト"
      .my-good
        = link_to "いいね！一覧"
      .my-create
        = link_to "出品する"
      .my-up_currunt
        = link_to "出品した商品-出品中"
      .my-up_ing
        = link_to "出品した商品-取引中"
      .my-end
        = link_to "出品した商品-売却済み"
      .my-buying_item
        = link_to "購入した商品-取引中"
      .my-bought_item
        = link_to "購入した商品-過去の取引"
      .my-news
        = link_to "ニュース一覧"
      .reviw
        = link_to "評価一覧"
      .guide
        = link_to "ガイド"
      .infomation
        = link_to "お問い合わせ"
      .merupay
        = link_to "メルペイ"
      .sales_app
        = link_to "売上・振込申請"
      .point
        = link_to "ポイント"
    .my-page__inner--right
      .my-page__inner--right_1
      .my-page__inner--right_2
        .my-page_announcement
          .info
            = link_to "お知らせ"
        .my-page_to_do
          .to_do
            = link_to "やることリスト"
      .my-page__inner--right_3
        .my-page__btn
          .btn
            = link_to "一覧を見る"
    .my-page__under--left
      .setting
        = link_to "設定"
      .profile
        = link_to "プロフィール"
      .delivery_address
        = link_to "発送元・お届け先住所変更"
      .method_of_payment
        = link_to "支払い方法"
      .mail_pass
        = link_to "メール/パスワード"
      .identity_infomation
        = link_to "本人情報"
      .phone_number_check
        = link_to "電話番号の確認"
      .logout
        = link_to "ログアウト"
    .my-page__under--right
      .my-page__under--right_1
        = link_to "購入した商品"
      .my-page__under--right_2
        .transaction
        = link_to "取引中"
      .my-page__under--right_3
        .past
        = link_to "過去の取引"
