.header
  .header__main
    .contents-top
      = link_to "#", class: "header-link" do
        = image_tag "material/logo/logo.png", alt: "FURIMA", class: "header-logo"


      .search
        = form_with url: searches_items_path, method: :get, local: true do |f|
          .search-box
            = f.text_field :search, class: "search-box__text", placeholder: "キーワードから探す"
            = f.button class: "submit-btn" do
              = image_tag "material/icon/icon-search 1.png", alt: "検索", class: "search-icon"

    .contents-bottom
      .contents-bottom__left
        .left-list
          .left-list__category
            = link_to categories_path, class: "category-link" do
              カテゴリー
          .left-list__brand
            -# = link_to brands_path, class: "brand-link" do
              -# ブランド
      .contents-bottom__right
        .right-list
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete, class: "right-list__sign" do
              ログアウト
            = link_to edit_user_registration_path, class: "right-list__member" do
              マイページ
          - else
            = link_to new_user_session_path, class: "right-list__sign" do
              ログイン
            = link_to new_user_registration_path, class: "right-list__member" do
              新規会員登録