.wrapper
  .single-header
    = link_to '/' do
      = image_tag 'material/logo/logo.png'
  .item-content
    .item-content__top
      .message-box
        出品が完了しました
    
    .item-content__bottom
      = link_to root_path, class: "bottom-link" do
        .bottom-btn
          トップページに戻る
  .single-footer
    .footer-nav
      %ul.clearfix
        %li
          = link_to '#' do
            プライバシーポリシー
        %li
          = link_to '#' do
            フリマ利用規約
        %li
          = link_to '#' do
            特定商取引に関する表記
    = link_to '/', class: "single-footer__logo" do
      = image_tag 'material/logo/logo-white.png', class: "img"
    %p
      ©️FURIMA
