.wrapper
  =  render "shared/header"
  .main
    .top
      .content
        %h2.content__title
          人生を変えるフリマアプリ
        %p.content__text
          FURIMAはだれでもかんたんに出品・購入できる
          %br
            フリマアプリです
        .content__btn
          = link_to "#", class: "aBtm" do
            = image_tag ""
    .reason
      %h2.subtitle
        FURIMAが選ばれる3つの理由
      %ul.lists
        %li.list
          .list__pict
            %span.number 
              1
            = image_tag 'material/pict/pict-reason-01.jpg'
          %h3.list__text
            %span 3分 
            ですぐに出品
          %p.list__description
          スマホで入力するだけで簡単に出品できる!
        %li.list
          .list__pict
            %span.number 2
            = image_tag "material/pict/pict-reason-02.jpg"
          %h3.list__text
            %span シンプル
            で使いやすい
          %p.list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ!
        %li.list
          .list__pict
            %span.number 3
            = image_tag "material/pict/pict-reason-03.jpg"
          %h3.list__text
            手数料
            %span 業界最安
          %p.list__description
          最大3%でお得に出品&購入!
    .center
      .inner
        %h2.subtitle
          会員数日本一位
        %p.text
          FURIMAは、フリマアプリで最も人気
          %br
          出品•購入回数も業界最多です!
          %br
          ほしかったあの商品に出会えるかもしれません。
        .btn
          = link_to "#" do
            = image_tag ""
          = link_to "#" do
            = image_tag ""
    .feature
      %h2.head
        FURIMAの特徴
      .items
        .item
          %figure.item__img
            = image_tag 'material/icon/icon-01.png', alt: 'icon', class: 'item__img'
          %h3.item__subtitle
            簡単に売り買いできる
          %p.item__detail
            スマホひとつで、いつでもどこでも簡単に出品･購入が可能!
        .item
          %figure.item__img
            = image_tag 'material/icon/icon-03.png', alt: 'icon', class: 'item__img'
          %h3.item__subtitle
            売上金は即日振込みに対応
          %p.item__detail
            午前9時までに振込みをご依頼いただければ、翌日に指定の口座に入金いたします!
        .item
          %figure.item__img
            = image_tag 'material/icon/icon-04.png', alt: 'icon', class: 'item__img'
          %h3.item__subtitle
            様々な支払いに対応
          %p.item__detail
            お支払いは、クレジットカードだけではなく、ポイントや売上金など多彩な方法があります。

    .categories
      %h2.head
        ピックアップカテゴリー
      .categories__pick-up
        =link_to "#レディース", class: "sift-category" do
          レディース
        =link_to "#メンズ", class: "sift-category" do
          メンズ
        =link_to "#家電・スマホ・カメラ", class: "sift-category" do
          家電・スマホ・カメラ
        =link_to "#おもちゃ・ホビー・グッズ", class: "sift-category" do
          おもちゃ・ホビー・グッズ


      .productBox
        .productHead
          = link_to "#" do
            %h3.title{ id: "レディース"}
              レディース新着アイテム
        
        .productLists
          - @categories.each do |category|
            - if category.root?
              - category.children.each do |child|
                - child.children.each do |grandChild|

                  - @items.each do |item|
                    - if category.root_id == 1 && item.category_id == grandChild.id
                      = render partial: "item-list", locals: { item: item } 
        .more-view
          = link_to "#", class: "more-view-link" do
            もっとみる >


      .productBox
        .productHead
          = link_to "#" do
            %h3.title{id: "メンズ"}
              メンズ新着アイテム

        .productLists
          - @categories.each do |category|
            - if category.root?
              - category.children.each do |child|
                - child.children.each do |grandChild|

                  - @items.each do |item|
                    - if category.root_id == 199 && item.category_id == grandChild.id
                      = render partial: "item-list", locals: { item: item } 
        .more-view
          = link_to "#", class: "more-view-list" do
            もっとみる >


      .productBox
        .productHead
          = link_to "#" do
            %h3.title{id: "家電・スマホ・カメラ"}
              家電・スマホ・カメラ新着アイテム
        
        .productLists
          - @categories.each do |category|
            - if category.root?
              - category.children.each do |child|
                - child.children.each do |grandChild|

                  - @items.each do |item|
                    - if category.root_id == 892 && item.category_id == grandChild.id
                      = render partial: "item-list", locals: { item: item } 
        .more-view
          = link_to "#", class: "more-view-link" do
            もっとみる >


      .productBox
        .productHead
          = link_to "#" do
            %h3.title{id: "おもちゃ・ホビー・グッズ"}
              おもちゃ・ホビー・グッズ新着アイテム
        
        .productLists
          - @categories.each do |category|
            - if category.root?
              - category.children.each do |child|
                - child.children.each do |grandChild|

                  - @items.each do |item|
                    - if category.root_id == 679 && item.category_id == grandChild.id
                      = render partial: "item-list", locals: { item: item } 
        .more-view
          = link_to "#", class: "more-view-link" do
            もっとみる >

    .brand
      %h2
        ピックアップブランド
      .productBox
        .productHead
          = link_to "#" do
            %h3.title
              アーカイバ
        .productLists
          .productList
            = link_to "#" do
              .productList__img
                = image_tag ""
              .productList__body
                %h3.name
                  product3
                .details
                  %ul
                    %li
                      3000円
                    %li
                      %i.linkIcon
                    0
                  %p
                    (税込)
          .productList
            = link_to "#" do
              .productList__img
                = image_tag ""
              .productList__body
                %h3.name
                  product3
                .details
                  %ul
                    %li
                      3000円
                    %li
                      %i.linkIcon
                    0
                  %p
                    (税込)
          .productList
            = link_to '#' do
              .productList__img
                = image_tag ""
              .productList__body
                %h3.name
                  product3
                .details
                  %ul
                    %li
                      3000円
                    %li
                      %i.linkIcon
                    0
                  %p
                    (税込)
    .bottom
      .inner
        %h2.inner__title
          誰でも簡単、人生を変えるフリマアプリ
          %p.inner__text
            今すぐ無料ダウンロード!
          .inner__icon
            = link_to "#" do
              = image_tag "", class: 'linkIcon-aBtn'
            = link_to '#' do
              = image_tag "", class: 'linkIcon-aBtn'
  = link_to '#' do
    .purchaseBtn
      %span.purchaseBth__text
        出品する
      = image_tag 'material/icon/icon_camera.png', alt: 'icon', class: 'purchaseBth__icon'
  = render "shared/footer"