.wrapper
  .single-header
    = link_to '/' do
      = image_tag 'material/logo/logo.png'

  .item-content
    .item-content__top
      .message-box
        購入内容の確認
    .item-content__product
      .product-image
        = image_tag @item.images[0].image.url, class: "item-image"
      .product-text
        .product-text__name
          = @item.name
        .product-text__price
          = "#{@item.price} 円（税込）"
    .item-content__payment
      .item-content__payment--box
        .payment-text
          支払金額
        .payment-price
          = "#{@item.price} 円"

      .item-content__card-info
        .card-top
          .card-top__text
            登録されているカード情報
          = link_to new_card_path, class: "card-top__link" do
            確認する
        .card-info
          .card-info__data
            .card-info__data--label
              カード番号
            .card-info__data--number
              = "**** **** **** #{@default_card_information.last4}"
          .card-info__data
            .card-info__data--label
              有効期限　
            .card-info__data--number
              = expMonthYear(@default_card_information)

      - if @item.buyer.nil? 
        .item-content__bottom
          = form_with url: {controller: "items",action: "pay"}, method:"POST", class: "payment-form", local: true do |f|
            = f.button "購入する", class: "payment-btn"
      - else
        .item-content__bottom
          .sold
            .sold__btn
              SOLD OUT

  .single-footer
    .footer-nav
      %ul.clearfix
        %li
          = link_to '#' do
            プライバシーポリシー
        %li
          = link_to '#' do
            フリマ利用規約
        %li
          = link_to '#' do
            特定商取引に関する表記
        
    = link_to '/', class: "single-footer__logo" do
      = image_tag 'material/logo/logo-white.png', class: "img"
    %p
      ©️FURIMA

