.wrapper
  .single-header
    = link_to '/' do
      = image_tag 'material/logo/logo.png'
  .single-main
    .sell-container
      .sell-container-inner
        %h2.sell-header
          購入内容の確認
        .sell-form
          .sell-content.image
            
            .left-product-left
              .product-name
                画像
            .right-product-right
              .right-product-name
                = @item.name
              .right-product-price
                = "#{@item.price} 円（税込）"
          .sell-content
            .sell-content
              .left-payment-box
                .payment-title
                  支払い金額
                .payment-price
                  = "#{@item.price} 円"

            - if current_user.id == @card.user_id
              .sell-content
                %p.payment-method
                  カード情報
                .registration-payment
                  .sell-content__form-group-name
                    カード番号
                    = "**** **** ****#{@default_card_information.last4}"
                    %span.form-require
                      必須
                  .sell-form-pulldown
                .expiration-date
                  .sell-content__form-group-name
                    有効期限
                    %span.form-require
                      必須
                  .expiration-date-input
                    .small-pulldown-box
                      
                    %div
                      月
                    .small-pulldown-box
                      
                    %div
                      年
                  .sell-content__form-group-name
                    セキュリティコード
                    %span.form-require
                      必須
                  .sell-form-pulldown
              .sell-content
                %p.shipping-address
                  配送先
                = link_to '#', class: "shippng-address-choice" do
                  登録してください
              .sell-content
                .buy-btn-box
                  = form_with url: {controller: "items",action: "pay"}, method:"POST", local: true do |f|
                    = f.submit "購入する", class: "item-pay-btn"

            - else
              .sell-content
                .sell-content__text
                  ※お客様のカード情報はまだ登録されていません。
                  = link_to new_card_path, class: "new-card" do
                    カード登録へ進む

  .single-footer
    .footer-nav
      %ul.clearfix
        %li
          = link_to '#' do
            プライバシーポリシー
        %li
          = link_to '#' do
            フリマ利用規約
        %li
          = link_to '#' do
            特定商取引に関する表記
        
    = link_to '#', class: "single-footer__logo" do
      = image_tag 'material/logo/logo-white.png', class: "img"
    %p
      ©️FURIMA
