._header
  = render partial: 'shared/header'

.f.free
  .contents
    .content
      %h2.content__item-name
        = @item.name
      .content-box
        %ul.content-box__image 
          %li
            - if @item.buyer.present? 
              .sold-out
                SOLD
            = image_tag(@item.images[0].image.url, size: '300x300', class: "label-box")
          .content-box__image-sub
            %ul
              -if @item.images[1]
                %li
                  = image_tag(@item.images[1].image.url, size: '80x80', class: "label-box")
              -if @item.images[2]
                %li
                  = image_tag(@item.images[2].image.url, size: '80x80', class: "label-box")
              -if @item.images[3]
                %li 
                  = image_tag(@item.images[3].image.url, size: '80x80', class: "label-box")
              -if @item.images[4]
                %li 
                  = image_tag(@item.images[4].image.url, size: '80x80', class: "label-box")
              
        %table
          %tbody
            %tr
              %th 出品者
              %td
                = @item.user.name
            %tr
              %th カテゴリー
              %td
                = link_to category_path(:"#{@item.category.id}"), class: "gategory" do
                  = @item.category.name
            %tr
              %th ブランド
              %td
                = link_to "#", class: "gategory" do
                  = @item.brand
            %tr
              %th 商品の状態
              %td
                = @item.condition
            %tr
              %th 配送料の負担
              %td
                = @item.shopping_charges
            %tr
              %th 配送の地域
              %td
                = link_to "#", class: "adress" do
                  = @item.prefecture.name
            %tr
              %th 発送日の目安
              %td
                = @item.shopping_date

      .price-box
        .price-box__number
          ¥
          = @item.price
        .price-box__value
          （税込）送料込み

      .item-buy
        - if current_user.id == @item.user_id
          = link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-buy-btn"
          = link_to 'この商品を削除する',item_path(@item.id), method: :delete, class: "item-delete-btn"
        - else
          - if @card.present?
            = link_to purchase_item_path(params[:id]), class: "item-buy-btn" do
              購入画面に進む
          - else
            .item-buy__not
              %ul.item-buy__not--card
                ※お客様のカード情報はまだ登録されていません。
                %li
                  = link_to new_card_path, class: "new-card" do
                    カード登録へ進む

      .buy-text-box
        %p.buy-text
          = @item.description
    .man-item
      = link_to category_path(:"#{@item.category.id}"), class: "mense-btn" do
        = "#{@item.category.name}の商品をもっとみる"

._footer
  = render partial: 'shared/footer'
