.wrapper
  .single-header
    = link_to '/' do
      = image_tag 'material/logo/logo.png'
  .card-main
    .card-box
      .card-box__top
        .card-box__top--text
          カード情報登録
      .card-box__body
        .body-content
          .body-content__brand
            %ul.card-brand
              %li
                = image_tag "cards/visa.png", class: "card-brand__image visa"
              %li
                = image_tag "cards/mastercard.png", class: "card-brand__image mastercard"
              %li
                = image_tag "cards/jcb.png", class: "card-brand__image jcb"
              %li
                = image_tag "cards/americanExpress.png", class: "card-brand__image americanExpress"
              %li
                = image_tag "cards/dinersClub.png", class: "card-brand__image dinersClub"
              %li
                = image_tag "cards/discover.png", class: "card-brand__image discover"
          .body-content__form
            = form_with url: {controller: "cards",action: "create"}, id: "form", local: true do |f| 
              .card-form
                .card-form__menu
                  .card-form__menu--input
                    = f.label "カード番号", class: "form-label"
                    = f.text_field :number, class: "form-field", placeholder: "1234567890123456", maxlength: "16"
                .card-form__menu
                  .card-form__menu--input
                    = f.label "有効期限", class: "form-label"
                    = f.text_field :exp_month, class: "form-field", placeholder: "月", maxlength: "2"
                    = f.text_field :exp_year, class: "form-field", placeholder: "年", maxlength: "2"
                    = f.text_field :separate, class: "form-field separate", placeholder: "/", maxlength: "1", disabled: true
                .card-form__menu
                  .card-form__menu--input
                    = f.label "セキュリティ番号", class: "form-label"
                    = f.text_field :cvc, class: "form-field", placeholder: "###", maxlength: "3"
                .card-form__menu
                  .card-form__menu--input
                    = f.label "名前", class: "form-label"
                    = f.text_field :name, class: "form-field", placeholder: "KAZUTO KIRIGAYA"
              = f.submit "登録する", class: "card-save-btn"
  .single-footer
    .footer-nav
      %ul.clearfix
        %li
          = link_to '#' do
            プライバシーポリシー
        %li
          = link_to '#' do
            フリマ利用規約
        %li
          = link_to '#' do
            特定商取引に関する表記
        
    = link_to '/', class: "single-footer__logo" do
      = image_tag 'material/logo/logo-white.png', class: "img"
    %p
      ©️FURIMA

