.wrapper
  = render "shared/header"
  = render 'nav'
  .brand-main
    .brand-main__top
      ブランド一覧
    .brand-main__contents
      %ul.brand-japanese
        - japanese.each do |kana|
          %li.brand-japanese__box
            .japanese-list
              .japanese-list__top
                = "#{kana}行"
              %ul.japanese-list__box
                - brandUniq(@items).each_with_index do |brand, index|
                  - if first(brand).match(/^#{kana}/)  
                    %li.japanese-list__box__name
                      = link_to "/brands/#{index + 1}", class: "brand-name" do
                        = brand
  = render "shared/footer"