.wrapper
  = render "shared/header"
  = render 'nav'
  .brand-show
    .brand-show__top
      = "#{@item.brand}の一覧"
    .brand-show__items.clearfix
      - @items.each do |item|
        - if @item.brand == item.brand
          .item-list
            = link_to item_path(params[:id]), class: "item-link" do
              .item-list__image
                = image_tag item.images[0].image.url, alt: "#{item.name}", class: "item-image"
                .item-price
                  .item-price__display
                    = "#{item.price}円"
              .item-list__body
                .item-list__body--name
                  = item.name
  = render "shared/footer"