.wrapper
  = render "shared/header"
  = render "nav"
  .category-show
    .category-show__top
      = "#{@category.name}の一覧"
    - if @category.children.present?
      %ul.category-show__sub.clearfix
        - @category.children.each do |category|
          %li.sub-category
            = link_to category_path(category[:id]), class: "sub-list" do
              = category.name
    .category-show__items.clearfix
      - @items.each do |item|
        .item-list
          = link_to item_path(item[:id]), class: "item-link" do
            .item-list__image
              = image_tag item.images[0].image.url, alt: "#{item.name}", class: "item-image"
              .item-price
                .item-price__display
                  = "#{item.price}円"
            .item-list__body
              .item-list__body--name
                = item.name
  = render "shared/footer"